/* Global Styles */

html,
body {
    height: 100%;
    width: 100%;
    font-family:"HelveticaNeue-Light", "Helvetica Neue Light", sans-serif;
    font-style:light;
    font-weight:100;
    overflow-x:hidden;
    -webkit-overflow-scrolling: touch;
}

.middle {
    display: table-cell;
    vertical-align: middle;
    /* text-align: center; */
}

.pgp {
    margin-left:auto;
    margin-right:auto;
    float:none;
}

h1 {
    font-family:"HelveticaNeue-Light", "Helvetica Neue Light", sans-serif;
    font-style:light;
    font-weight:100;
    font-size:4.5em;
}

.full-height {
    display: table;
    height: 100%;
    width: 100%;
    position: relative;
}

.green {
    background: #1abc9c;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

